:root {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color-scheme: light dark;
  background-color: #2c3338;

} 
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-dropdown-menu-light{
  background-color: #1f2123 !important;
}

.ant-dropdown-menu-title-content > a{
  color: white !important;
}

.ant-dropdown-menu-item-active {
  background-color: #4c4c4c !important;
}

/* .ant-dropdown-menu .ant-dropdown-menu-root .ant-dropdown-menu-vertical .ant-dropdown-menu-light {
  background-color: red;
} */